<ion-view cache-view="false" hide-back-button="true" class="pane">
 <ion-header-bar class="bar bar-header bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
      <div side="left" class="buttons buttons-left header-item">
        <button class="button button-clear" ng-if="!User.inserting || !User.editing" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
        <button class="button button-clear" ng-if="User.inserting || User.editing" ng-click="User.cancel()" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-ios-arrow-back"></i> </button>
      </div>
        <h1 class="title">Novo Usuário</h1>
      <div side="right" class="buttons buttons-right header-item">
        <button class="button button-clear" ng-if="!User.inserting || !User.editing" ng-click="cronapi.server('blockly.Newusermob.newusermob').run(User.active.password, User.active.name, User.active.login, User.active.email)" data-component="crn-button" xattr-type="button-clear" ng-show="false">
             <i class="icon ion-ios-plus-empty"></i> </button>
        <button class="button button-clear" ng-if="User.inserting || User.editing" ng-click="User.post()" data-component="crn-button" xattr-type="button-clear" ng-show="true" cronapp-security="">
             <i class="icon ion-ios-checkmark"></i> </button>
      </div>
  </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854">
      
    </div>
    <div>
      <form crn-datasource="User">
        <fieldset>
          <div class="list">
            <!-- email begin -->
            <label for="textinput-email" class="item item-input item-stacked-label">
              <span class="input-label">{{'E-mail' | translate}}</span>
              <input type="text" placeholder="{{'Email' | translate}}" ng-model="User.active.email" id="textinput-email" name="textinput-email">
            </label>
            <!-- name begin -->
            <label for="textinput-name" class="item item-input item-stacked-label">
              <span class="input-label">{{'Users.view.Name' | translate}}</span>
              <input type="text" placeholder="{{'Users.view.Name' | translate}}" ng-model="User.active.name" id="textinput-name" name="textinput-name" required="required">
            </label>
            <!-- login begin -->
            <label for="textinput-login" class="item item-input item-stacked-label">
              <span class="input-label">{{'Users.view.Login' | translate}}</span>
              <input type="text" placeholder="{{'Users.view.Login' | translate}}" ng-model="User.active.login" id="textinput-login" name="textinput-login" required="required">
            </label>
            <!-- picture begin -->
            <label for="textinput-picture" class="item item-input item-stacked-label">
              <span class="input-label">{{'Admin.view.Picture' | translate}}</span>
              <input type="text" placeholder="{{'Admin.view.Picture' | translate}}" ng-model="User.active.picture" id="textinput-picture" name="textinput-picture">
            </label>
            <!-- password begin -->
            <label for="textinput-password" class="item item-input item-stacked-label">
              <span class="input-label">{{'Home.view.Password' | translate}}</span>
              <input type="text" placeholder="{{'Home.view.Password' | translate}}" ng-model="User.active.password" id="textinput-password" name="textinput-password" required="required">
            </label><div style="height: 50px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-749909">&nbsp;</div><div class="component-holder ng-binding ng-scope" data-component="crn-list" id="crn-list-51844"><div class="list" crn-datasource="" ng-repeat="rowData in datasource.data"></div></div><button class="button button-positive component-holder button-full" type="submit" xattr-fullsize="button-full" xattr-theme="button-positive" ng-click="cronapi.server('blockly.Newusermob.newusermob').run(User.active.password, User.active.name, User.active.login, User.active.email)" data-component="crn-button" id="crn-button-144745"><i class="ion ion-android-add"></i> <span>{{'Salvar' | translate}}</span></button>

            <!-- NtoN  -->
            <!-- NtoN  end-->

          </div>
          
        </fieldset>
      </form>
    </div>
  </ion-content>
</ion-view>
